#myMap{
	
	width: 1000px;
	height: 350px;
	border-color: black;
	background-color:rgba(255,255,255,.1);
	margin-top: -180px;
	/*visibility: hidden;*/
	border: 5px solid ;
	border-color:white;
	border-radius:25px;
	margin-top: 100px;
	margin-left: 150px;

}


#direccionSeleccionada{
	float: right;
	margin-top: 30px;
	margin-right: 200px;
	width: 25px;
	height: 25px;
	visibility: hidden;

}

#verFactura{
	float: none;
color: red;
font-size: 20px;
	margin-left: 1118px;
	margin-bottom: -100px;
	width: 100px;
	height: 100px;
	border: #B02121  2px solid;
background-color:ghostwhite;

}
